
<html>
<body>
<h3>legacy_code/audacy-webapp/doc/rapport/Rapport.pdf – page 20</h3>
<pre>. <! - - Le code EJS est indiqu é entre les balises <% % > --> <% if ( user ) { % > <h2 > <%= user . name % > </ h2 > <% } % > Figure 4.2   Exemple de template EJS 4.3.2 Express Express est un module utilisé pour intégrer le serveur web directement à l'application Node.js. La page de développement d'Express est https://github.com/visionmedia/ express . L'application serveur ( chier audacy/audacy-webapp/app/app.js ) instancie une application express, puis spéci e quelles réponses doivent être envoyées en fonction des requêtes des clients. Par exemple, le code de la  gure 4.3.2 indique de renvoyer une page HTML à partir d'un template EJS lorsque l'utilisateur demande la page de documentation. 1. Embedded JavaScript templates</pre>
</body>
</html>
